.OptionPage {
	text-align: center;
}

.OptionPage .PercentBox__Value {
	text-align: center;
}

.OptionsButton {
  margin: 26px 0;
  user-select: none;
  outline: none;
  cursor: pointer;
  width: 255px;
  height: 35px;
  background-image: linear-gradient(to top,  #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all .2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

.OptionsButton:hover {
	box-shadow:  0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.OptionsButton:focus {
	animation: active .9s alternate infinite;
    outline: none;
}

.OptionsButton:active {
	box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE,  inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}
