.Container {
	display: flex;
	width: 272px;
	background-color: #3B3B3B;
}

.LeftContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.PriceInput {
	width: 75px;
}

.RightContainer {
	display: flex;
	flex-direction: column;
}