body {
	background-color: #3B3B3B;
}

.PercentBox {
	padding: 8px;
}

.PercentBox__Value, .PriceInput {
	box-shadow: 0 1px 1px 0 #d9dfe4;
	padding-left: 10px;
	border: none;
	border-left: 3px solid transparent;
	border-radius: 3px;
	outline: 0;
}

.PercentBox__Value--max {
	width: 115px;
}

.PercentBox__Value--mid {
	width: 95px;
}

.PercentBox__Value--min {
	width: 78px;
}

.PercentBox__Value--greenest {
	background-color: #D1FBB3;
}

.PercentBox__Value--greener {
	background-color: #E8FFD8;
}

.PercentBox__Value--green {
	background-color: #F6FFF6;
}

.PercentBox__Value--red {
	background-color: #FFF6F6;
}

.PercentBox__Value--reder {
	background-color: #FFD8D8;
}

.PercentBox__Value--redest {
	background-color: #FBB3B3;
}

.PercentBox__Label {
	color: #EEEEEE;
}